In [1]:
import pandas as pd

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\envs\sriram\lib\site-packages (1.5.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\admin\anaconda3\envs\sriram\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\envs\sriram\lib\site-packages (from pandas) (2022.6)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\anaconda3\envs\sriram\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\envs\sriram\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pd.__version__

'1.5.2'

In [4]:
a1=pd.Series([2,3,4],index=[0,1,2])

In [5]:
print(a1)

0    2
1    3
2    4
dtype: int64

In [6]:
season={"rainy":{1:'nov',2:'dec',3:'jan',4:'feb'},"dry":{1:'mar',2:'apr',3:'may',4:'jun'}}

In [7]:
d=pd.DataFrame(season,columns=["rainy","dry"])

In [8]:
print(d)

  rainy  dry
1   nov  mar
2   dec  apr
3   jan  may
4   feb  jun

In [13]:
import numpy as np

In [14]:
a=pd.DataFrame(np.random.randint(0,300,size=(20,4)),columns=list(('abcd')))

In [11]:
print(a)

      a    b    c    d
0   129  194  100   92
1   274  164   41  236
2     6    5  252   98
3   284  252   30  122
4    88  167   83  207
5   221  297   83   37
6   274  144  199  135
7   215  226  103  231
8   102  200   52    8
9     0   77  258   13
10  135  210   25  211
11   11  183  121   14
12  231  142  297  249
13   19  255   68  261
14  244  184  269   40
15  140  283  214  284
16  240  260  266   26
17  299  266  258   51
18  106  193  189  136
19   15  255  152  263

In [18]:
a.to_csv('C:/Users/Public/Documents/sriram.csv')

In [19]:
a=pd.read_csv('C:/Users/Public/Documents/sriram.csv')

In [20]:
print(a)

    Unnamed: 0    a    b    c    d
0            0   85  290   14  193
1            1  196  219   77  235
2            2   33   75  266  297
3            3   88  173  293  178
4            4   47  211    6  240
5            5  246   33   34  131
6            6  234  168  186   22
7            7  295  164  258  228
8            8  139  118  152  178
9            9  185  297  144  220
10          10   97  242  225  274
11          11  291  153  210  135
12          12  222  275  246  235
13          13   66  243  226  178
14          14  134  241    3  104
15          15   60  280   94  120
16          16   81  168  218   62
17          17  112  154   61   54
18          18  172   29  286  159
19          19  126  286  180  183

In [22]:
a.shape

(20, 5)

In [23]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 1 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rainy   4 non-null      object
 1   dry     4 non-null      object
dtypes: object(2)
memory usage: 96.0+ bytes